<p class="mat-display-2">We Have...</p>
<div class="width default-flex flex-between">
  <h1>{{_statisticsApiService.statistics?.numberOfUsers}}</h1>
  <h1>Drinking Buddies</h1>
</div>
<div class="width default-flex flex-between">
  <h1>{{_statisticsApiService.statistics?.numberOfStoreItems}}</h1>
  <h1>Items in store</h1>
</div>
<div class="width default-flex flex-between">
  <h1>{{_statisticsApiService.statistics?.numberOfBeerTypes}}</h1>
  <h1>Types of Beers</h1>
</div>
<div class="width default-flex flex-between">
  <h1>{{_statisticsApiService.statistics?.numberOfOrdersPlaced}}</h1>
  <h1>Orders Placed</h1>
</div>
