<div class="img-container default-flex flex-center">
  <img src="{{cartItem.storeItemId.picture}}" alt="{{cartItem.storeItemId.name}}">
</div>
<div class="item-info default-flex flex-column flex-between">
  <p><strong>{{cartItem.storeItemId.name}}</strong></p>
  <div class="item-info-single default-flex flex-between max-width mt-2">
    <p><strong>Price per</strong></p>
    <p><strong>${{cartItem.storeItemId.price}}</strong></p>
  </div>
  <div class="item-info-single default-flex flex-between max-width">
    <p><strong>Amount</strong></p>
    <p><strong>x{{newCartItemAmount}}</strong></p>
  </div>
</div>
<div class="item-btns default-flex flex-column flex-around mt-2" *ngIf="router.url !== '/order'">
  <div class="default-flex flex-start">
    <button mat-icon-button color="warn" (click)="removeItemButton()">
      <mat-icon>backspace</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="applyNewItemAmountButton()" *ngIf="newCartItemAmount !== cartItem.amount">
      <mat-icon>check_circle</mat-icon>
    </button>
  </div>
  <div class="default-flex flex-start">
    <button mat-icon-button (click)="changeItemAmountButton(true)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="changeItemAmountButton()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
