:host {
    min-width: 270px !important;
    width: 100% !important;
    max-width: 450px !important;
}
.img-container{
    min-width: 40px;
    height: 90px;
    width: 8%;
}
img{
    width: 32px;
    height: 80px;
}
.item-info{
    min-width: 160px;
    width: 48%;
}
.item-info > p{
    padding: 0 !important;
    margin: 0 !important;
}   
.item-info-single{
    width: 100% !important;
}

.item-btns{
    min-width: 80px;
    width: 20%;
    align-items: flex-start !important;
}