:host {
    min-width: 270px;
    width: 100%;
    max-width: 450px;
}
.img-container{
    min-width: 40px;
    height: 90px;
    width: 8%;
}
img{
    width: 32px;
    height: 80px;
}
.item-info{
    min-width: 160px;
    width: 48%;
}
.item-info > p{
    padding: 0;
    margin: 0;
}   
.item-info-single{
    width: 100%;
}

.item-btns{
    min-width: 80px;
    width: 20%;
    align-items: flex-start;
}

mark{
    background-color: yellow !important;
    font-weight: bold !important;
}