/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100vw;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body{
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* Height / Width */

.min-height {
    min-height: 100%;
}
.full-height {
    height: 100%;
}
.side-bar-height{
    min-height: 500px;
    max-height: 860px;
}
.min-width {
    min-width: 300px;
}
.max-width {
    max-width: 100%;
}

.block{
    display:block;
}

/* FLEX */

.default-flex {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column  {
    flex-direction: column;
}

.flex-around {
    justify-content: space-around;
}
.flex-between {
    justify-content: space-between;
}
.flex-center {
    justify-content: center;
}
.flex-start {
    justify-content: flex-start;
}

/* MARGINS */
.m-auto{
    margin: auto;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 15px;
}
.mt-3 {
    margin-top: 25px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 15px;
}
.mb-3 {
    margin-bottom: 25px;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 15px;
}
.mr-3 {
    margin-right: 25px;
}
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 15px;
}
.ml-3 {
    margin-left: 25px;
}

/* PADDING */

.p-1 {
    padding: 3px;
}
.p-2 {
    padding: 6px;
}