<form class="max-width default-flex flex-column flex-around" [formGroup]="orderForm">
  <p class="mat-title">Delievery Information</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <mat-select formControlName="city" (selectionChange)="toggleStreetInputOnCitySelection()">
        <mat-option [value]="''">None</mat-option>
        <mat-option *ngFor="let city of _userService.cityList" [value]="city">{{city}}</mat-option>
      </mat-select>
      <mat-error *ngIf="cityControl.hasError('required')"> <strong>Required</strong> </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" placeholder="247th Beer st">
      <mat-icon matSuffix>done_all</mat-icon>
      <mat-error *ngIf="streetControl.hasError('required')"> <strong>Required</strong> </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Date of delievery</mat-label>
      <input matInput formControlName="delieveryDate" [matDatepickerFilter]="disabledDatesFilter" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="delieveryDateControl.hasError('required')"> <strong>Required</strong> </mat-error>
    </mat-form-field>
  </p>
  <p class="mat-title">Payment</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Credit Card</mat-label>
      <input matInput formControlName="creditCard">
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-error *ngIf="creditCardControl.hasError('required')"> <strong>Required</strong> </mat-error>
    </mat-form-field>
  </p>
  <button mat-button (click)="submitOrderButton()" [disabled]="orderForm.invalid">Place Order</button>
</form>
