:host{
    position: relative;
    display: block;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; */
    min-height: 560px;
    max-height: 980px;
    height: 100%;
    width: 100%;
    overflow: hidden;
};

app-filter-bar{

    min-height: 50px;
    height: 10%;
    max-height: 70px;

};