:host{
    position: relative;
    display: block;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; */
    min-height: 560px !important;
    max-height: 980px !important;
    height: 100% !important;
    width: 100%;
    overflow: hidden;
    background-color: rgb(250, 89, 89);
};

app-filter-bar{

    min-height: 50px !important;
    height: 10%;
    max-height: 70px;

};