<div class="container default-flex flex-center">
  <img src={{storeItem?.picture}}>
  <div class="content default-flex flex-column flex-between">
    <div class="titles default-flex flex-column flex-center">
      <p class="mat-display-1">{{storeItem?.name}}</p>
      <p class="mat-subtitle">Price: ${{storeItem?.price}}</p>
    </div>
    <div class="buttons default-flex flex-between" *ngIf="!_userService.user?.isAdmin">
      <button mat-icon-button (click)="changeItemAmountButton(true)">
        <mat-icon>add</mat-icon>
      </button>
      <p class="mat-title">{{amount}}</p>
      <button mat-icon-button (click)="changeItemAmountButton()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button (click)="addItemToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
    <div class="buttons default-flex flex-center" *ngIf="_userService.user?.isAdmin">
      <button mat-icon-button (click)="_adminStoreService.passStoreItemForEdit(storeItem)">
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </div>
</div>
