app-cart-list{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 200px;
    height: 70%;
    min-width: 290px;
    width: 100%;
    max-width: 500px;
    flex-wrap: nowrap;
}
app-cart-info{
    min-height: 150px;
    height: 10%;
    min-width: 290px;
    width: 100%;
    max-width: 500px;
}
app-cart-btns{
    min-height: 50px;
    height: 10%;
    min-width: 290px;
    width: 100%;
    max-width: 500px;
}
.highlight {
    font-weight: bold;
    color: green;
  }