<p class="mat-display-2">{{router.url !== '/order' ? 'My Cart' : 'Order Summary'}}</p>
<form [formGroup]="searchForm" *ngIf="router.url === '/order'">
  <mat-form-field>
    <mat-label>Search Item</mat-label>
    <input matInput formControlName="search" placeholder="Search Item">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
<app-cart-list [query]="searchControl.value"></app-cart-list>
<app-cart-info class="default-flex flex-between"></app-cart-info>
<app-cart-btns class="default-flex flex-around" *ngIf="(router.url!=='/order')"></app-cart-btns>
