:host{
    display: block;
    width: 100%;
    overflow: hidden;
}

.main-container{
    position: relative;
    /* background-color:red; */
}

mat-sidenav{
    padding: 16px;
    width: 30%;
    min-width: 340px;
}